[Unit]
Description=Firework Launcher
After=network.target

[Service]
ExecStart=/usr/bin/python3 Firework_Launcher.py
WorkingDirectory="Directory of the Firework_Launcher.py Script"
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
